<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DndProjectApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.adventures.list.AdventuresListActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Note"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".Note" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Qwest"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".Qwest" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    </activity>
        <activity
            android:name=".NPC"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".NPC" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    </activity>
        <activity
            android:name=".Location"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".Location" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    </activity>
        <activity
            android:name=".Character"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".Character" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdventureActivity"
            android:exported="true"
            android:label="@string/title_activity_adventure"
            android:parentActivityName=".presentation.adventures.list.AdventuresListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.adventures.list.AdventuresListActivity" />
            <intent-filter>
                <action android:name=".Adventure" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DnDBook"
            android:exported="true"
            android:label="@string/title_activity_dndbook"
            android:parentActivityName=".presentation.adventures.list.AdventuresListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.adventures.list.AdventuresListActivity" />/>
            <intent-filter>
                <action android:name=".DnDBook" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".presentation.adventures.list.AdventuresListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.adventures.list.AdventuresListActivity" />
            <intent-filter>
                <action android:name=".Settings" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.begin.presentation.adventures.create.CreateAdventureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>