<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DndProjectApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.adventures.list.AdventuresListActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NoteActivity"
            android:exported="true"
            android:label="@string/title_note_list"
            android:parentActivityName=".NoteListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NoteListActivity" />

            <intent-filter>
                <action android:name=".Note" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NoteListActivity"
            android:exported="true"
            android:label="@string/title_note_list"
            android:parentActivityName=".AdventureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdventureActivity" />

            <intent-filter>
                <action android:name=".NoteListActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QwestActivity"
            android:exported="true"
            android:label="@string/title_qwest_list"
            android:parentActivityName=".QwestListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QwestListActivity" />

            <intent-filter>
                <action android:name=".Qwest" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QwestListActivity"
            android:exported="true"
            android:label="@string/title_qwest_list"
            android:parentActivityName=".AdventureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdventureActivity" />

            <intent-filter>
                <action android:name=".QwestListActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NPCActivity"
            android:exported="true"
            android:label="@string/title_npc_list"
            android:parentActivityName=".NPCListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NPCListActivity" />

            <intent-filter>
                <action android:name=".NPC" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NPCListActivity"
            android:exported="true"
            android:label="@string/title_npc_list"
            android:parentActivityName=".AdventureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdventureActivity" />

            <intent-filter>
                <action android:name=".NPCListActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationActivity"
            android:exported="true"
            android:label="@string/title_location_list"
            android:parentActivityName=".LocationListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LocationListActivity" />

            <intent-filter>
                <action android:name=".Location" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationListActivity"
            android:exported="true"
            android:label="@string/title_location_list"
            android:parentActivityName=".AdventureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdventureActivity" />

            <intent-filter>
                <action android:name=".LocationListActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CharacterActivity"
            android:exported="true"
            android:label="@string/title_character_list"
            android:parentActivityName=".CharacterListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CharacterListActivity" />

            <intent-filter>
                <action android:name=".Character" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CharacterListActivity"
            android:exported="true"
            android:label="@string/title_character_list"
            android:parentActivityName=".AdventureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdventureActivity" />

            <intent-filter>
                <action android:name=".CharacterListActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DndProjectApplication"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdventureActivity"
            android:exported="true"
            android:label="@string/title_activity_adventure"
            android:parentActivityName=".presentation.adventures.list.AdventuresListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.adventures.list.AdventuresListActivity" />

            <intent-filter>
                <action android:name=".Adventure" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DnDBook"
            android:exported="true"
            android:label="@string/title_activity_dndbook"
            android:parentActivityName=".presentation.adventures.list.AdventuresListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.adventures.list.AdventuresListActivity" />

            <intent-filter>
                <action android:name=".DnDBook" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".presentation.adventures.list.AdventuresListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.adventures.list.AdventuresListActivity" />

            <intent-filter>
                <action android:name=".Settings" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.adventures.create.CreateAdventureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>